[submodule "submodules/hapi"]
	path = submodules/hapi
	url = git://github.com/rpavlik/hapi.git
[submodule "submodules/h3dutil"]
	path = submodules/h3dutil
	url = git://github.com/rpavlik/h3dutil.git
[submodule "submodules/lunatest"]
	path = submodules/lunatest
	url = git://github.com/silentbicycle/lunatest.git
[submodule "submodules/pthreads-win32-cmakebuild"]
	path = submodules/pthreads-win32-cmakebuild
	url = git://github.com/vancegroup/pthreads-win32-cmakebuild.git
[submodule "submodules/pthreads-win32"]
	path = submodules/pthreads-win32
	url = git://github.com/vancegroup/pthreads-win32.git
